.tf-repeater-tab-icon-actions {
  display: flex;
  align-items: center;
  gap: var(--tui-spacing-xxs, 4px);
}

// No border when tab is used inside the tab repeater
.tf-repeater-container .tf-tab-container {
  border: none;
}
