.tf-repeater-tab-icon-actions {
  display: flex;
  align-items: center;

  button {
    min-width: fit-content;
  }
}

.tf-repeater-tab-add-item {
  min-width: max-content;
  width: 100%;
  justify-content: flex-start;
}
