@import '../default/variables.scss';

// We only need to define the variables we need to overwrite 
$field-padding-vertical: 0; 
$field-padding-horizontal: 12px; 
$field-padding: $field-padding-vertical $field-padding-horizontal;
$field-border: 1px solid #64666a;
$field-background: #34383c;

$field-editor-border: 2px solid rgba(255, 255, 255, 0.2);

$label-spacer: $global-spacer-xs;

$button-background: #34383c;
$button-border-color: #64666a;
$button-border: $button-border-type $button-border-size $button-border-color;
$button-color: #fff;
$button-background--hover: #64666a;
$button-border-color--hover: #fff;
$button-color--hover: #fff;

$section-border-width: 1px;
$section-border-style: solid;
$section-border-color: #64666a;
$section-border: $section-border-width $section-border-style $section-border-color;
$section-background: #34383c;

@import '../default/mixins.scss';

// We only need to defined the mixins we need to overwrite
@mixin label {
  display: inline-block;
  color: $label-font-color;
  font-size: $label-font-size;
  font-style: $label-font-style;
  font-weight: $label-font-weight;
  margin-bottom: $label-spacer;
}

@mixin description {
  color: $description-font-color;
  font-size: $description-font-size;
  font-style: $description-font-style;
  font-weight: $description-font-weight;
}

@mixin button {
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  height: calc(#{$button-height} - #{$button-border-size *  2}); // Remove border
  cursor: pointer;

  &:hover{
    background: $button-background--hover;
    color: $button-color--hover;
  }
}

@mixin section {
  border: $section-border;
  background: $section-background;
}