.tf-dynamic-text-field {
  display: flex;
  align-items: center;
  position: relative;

  .tf-dynamic-text-popover {
    position: absolute;
    top: 100%;
    z-index: $popover-index;
  }

}

.tf-dynamic-text-item {
  border: 1px grey solid; 
  padding: 2px 5px;
  margin: 0 2px; // Make it easier to see cursor before and after item
}
