.tf-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $global-spacer-sm;
  @include section;
}

.tf-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  height: $field-height;

  &.tf-button-action {
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    background: none;
    text-align: left;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $field-height;
    color: $field-font-color;
    margin: 0;
    padding: $section-padding;
    border-radius: 0;
    border: 0;

    &:hover {
      background: #f0f0f0;
    }
  }

}

.tf-panel-open .tf-panel-header.tf-button-action {
  border-bottom: $section-border;
}

.tf-panel-header-right,
.tf-panel-header-before-title,
.tf-panel-header-title,
.tf-panel-header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $field-padding;
  padding-top: 0;
  padding-bottom: 0;
}

.tf-panel-header-left {
  padding-left: 0;
}

.tf-panel-footer,
.tf-panel-content {
  padding: $field-padding;
  padding-top: 4px;
  padding-bottom: 4px;
}

// Needed when behavior is hide
.tf-panel-closed .tf-panel-content {
  display: none;
}

.tf-panel-footer {
  border-top:  $section-border;
}

.tf-panel-footer {
  display: flex;
  justify-content: flex-end;
  gap: $global-spacer-sm;
  padding: 1em;
}

.tf-panel-arrow {
  border: solid black;
  border-color: $field-font-color;
  border-width: 0 1px 1px 0;
  display: inline-block;
  height: calc(#{$field-height} / 4);
  width: calc(#{$field-height} / 4);
}

.tf-panel-open .tf-panel-arrow {
  transform: translateY(50%) rotate(-135deg);
}

.tf-panel-closed .tf-panel-arrow {
  transform: translateY(-50%) rotate(45deg);
}
