.tf-dimensions {
  display: flex;
  flex-direction: column;

  .tf-select,
  .tf-select .tf-button-select {
    width: auto;
  }
}

.tf-dimensions-container {
  display: flex;
  width: fit-content;
  position: relative;
  flex-wrap: wrap;
}

.tf-dimensions-number-groups {
  display: flex;
  flex-direction: row;
  max-width: $dimensions-number-group-width;

  .tf-number {
    flex: 1 1 calc($dimensions-number-group-width / 4);
    
    .tf-number-field {
      width: 100%;
    }

    input {
      width: 100%;
      text-align: left;
    }
  }
  
  .tf-number-button-group .tf-button-number {
    padding: 0 3px;
  }
}

.tf-dimensions-number-groups-linked .tf-number:not(:first-child) {
  opacity: 0.5;
  pointer-events: none;
	display: none;
}
