.tf-repeater-table {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 4px;
    
  border: $field-border;
  border-radius: $field-border-radius;
  background: $field-background;

  table {
    th, tr {
      min-height: $field-height;
      padding: 2px;
    }
  }
  
}
