.tf-calendar {
  width: 100%;
  padding: 20px;
}

.tf-calendar-month {
  text-align: center;
}

.tf-calendar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
		@include button;
  }
}

.tf-calendar-table {
  width: 100%;
  padding: 10px;

  td {
    text-align: center;
  }
}

.tf-calendar-cell {
  cursor: pointer;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 100%;

  &.tf-calendar-cell-disabled,
  &.tf-calendar-cell-unavailable {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(.tf-calendar-cell-disabled, .tf-calendar-cell-unavailable, .tf-calendar-cell-selected):hover {
    color: $field-focus-color;
  }

  &.tf-calendar-cell-selected {
    background-color: $field-focus-color;
    color: #fff;
  }
}


