/artifacts
/publish
/storybook-static
/vendor
node_modules
*.log
*.local.js
*.tsbuildinfo
.env
.env-*
.DS_Store
.idea/
.rollup-plugin-visualizer.html
.gitignore

# Ignore lock files to allow any package manager
bun.lock
bun.lockb
yarn.lock

# Testing
/.phpunit.cache
/wordpress-develop
/coverage
.wp-env.override.json
/test-results

*.swp

*storybook.log

.harness/
.harness.yml
.claude
