.tf-multiple-select,
.tf-select {
  width: $field-width;
  position: relative;
  display: inline-block;
  
  & > .tf-label {
    display: flex;
  }

  &__value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .tf-button-select {
    @include field;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    &[disabled] {
      border-color: rgba(black, 0.1);
      color: rgba(black, 0.4);
      background: rgba(white, 0.5)
    }
  }

  .tf-select-icon {
    padding-left: 5px;
    font-size: 10px;
  }

  .tf-button-select {
    cursor: pointer;
    font-size: $field-font-size;
  }
}
