.tf-select {
  position: relative;
  display: inline-block;

  .tf-button-select {
    @include field;
    width: calc($field-width - 10px); // Overwrite mixin value 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

}
