.tf-select {
  position: relative;
  display: inline-block;

  .tf-button-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    height: $field-height;
    width: calc($field-width - 10px);
    background-color: $field-background;
    border: $field-border; 
    border-radius: $field-border-radius;
  }

}
