.tf-switch label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tf-switch-element,
.tf-switch-element-selected {
  position: relative;
  display: inline-block;
  height: $field-height;
  aspect-ratio: 2 / 1;
}

.tf-switch-element span,
.tf-switch-element-selected span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 100vh;

  &::before {
    border-radius: 50%;
    position: absolute;
    content: '';
    height: calc(100% - 8px);
    width: calc(50% - 8px);
    left: 4px;
    bottom: 4px;
    background-color: $field-background;
    transition: .4s;
  }
}

.tf-switch-element-selected span {
  background-color: $field-focus-color;

  &:focus {
    box-shadow: 0 0 1px $field-focus-color;
  }

  &::before {
    transform: translateX( calc(100% + 8px) );
  }
}
