.tf-button-action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;

  @include button;
}

.tf-button-action[disabled] {
  @include button-disabled;
}

