.tf-button-action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  height: $button-height;
}
