.tf-time-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tf-time-field {
  @include field;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tf-time-field:focus-within {
  border-color: $field-focus-color;
}
