.tf-file-field {
  display: flex;
  align-items: center;
  width: fit-content;
}

.tf-file-text {
  width: $field-width;
  padding: $field-padding;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tf-file-list {
  width: 300px;
}

.tf-file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tf-button-upload-list {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
  }
}
