.tf-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tf-date-field-container {
  position: relative;

  .tf-popover {
    display: flex;
    justify-content: center;

    @import './calendar/';
  }
}

.tf-date-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $global-spacer-sm;

  .tf-button-action {
    height: $field-height;
  }
  
}

.tf-date-field {
  @include field;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:focus-within {
    border-color: $field-focus-color;
  }
}

.tf-date-segment {
  padding: 0 2px;
  font-variant-numeric: tabular-nums;
  text-align: end;

  &:focus {
    color: white;
    background: $field-focus-color;
    outline: none;
    border-radius: 2px;
  }

  span { 
    display: none; 
  }
  
}

.tf-date-segment-placeholder span {
  display: flex;
}
