.tf-repeater-block-item .tf-context-default {

  .tf-dynamic-text-input {
    width: unset;
    min-width: calc(#{$field-width} - #{$field-padding-horizontal * 2});
    height: unset;
    min-height: calc(#{$field-height} - #{$field-padding-vertical * 2});
  }

}

