.tf-conditional-group-actions {
  display: flex;
  align-items: center;
  gap: $global-spacer-sm;
  padding: $global-spacer-sm 0;

  strong {
    text-transform: uppercase;
  }
}

.tf-conditional-panel-condition-actions {
  display: flex;
  gap: calc($global-spacer-sm / 2);
  align-items: center;

  .tf-button-icon-trash[disabled] {
    pointer-events: auto;
    cursor: not-allowed;
  }
}

/**
 * Some operator are very short (is, is not), and as the
 * popover will use the same width we add a min-width to keep
 * things readable
 */
.tf-conditional-panel-conditions .tf-select {
  min-width: 160px;
}
