.tf-number {
  width: 100%;
}

.tf-number .tf-label {
  display: flex;
}

.tf-number-field {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;

  .tui-input {
    padding-right: 2.5em;
  }
}

.tf-number[data-enabled="false"] .tf-number-field {
  opacity: var(--tui-opacity-disabled, 0.5);
}

.tf-number-button-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: $field-border-width;
  right: $field-border-width;
  bottom: $field-border-width;
  height: auto;
  border-inline-start: var(--tui-border-width, 1px) solid var(--tui-color-divider, var(--tui-color-border));

  .tf-button-number {
    @include button;
    display: flex;
    padding: 0;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border: 0;
    min-width: 2em;
    height: 50%;
    color: var(--tui-color-fg-muted);
    background-color: var(--tui-color-bg-surface);

    &:hover {
      background-color: var(--tui-color-bg-muted);
      color: var(--tui-color-fg);
    }

    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
