.tf-dynamic-text-input {
  @include field;
  height: calc(#{$field-height} - #{$field-padding-vertical * 2});
  width: calc(#{$field-width} - #{$field-padding-horizontal * 2});

  &:focus-within {
    border-color: $field-focus-color;
  }
  
  &:has(.cm-content[contenteditable="false"]) {
    border-color: rgba(black, 0.1);
    color: rgba(black, 0.4);
    background: rgba(white, 0.5)
  }

  & > .cm-editor {
    width: 100%;
    height: 100%;

    .cm-line,
    .cm-content {
      padding: 0;
    }

    .cm-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .tf-dynamic-text-item-delete {
    &:before {
      content: '\2A2F';
      padding-left: 3px;
      cursor: pointer;
    }
  }
}

.tf-dynamic-wrapper[data-dynamic="true"] {
  .cm-editor {
    padding-right: 25px;
  }
}

