@import '../default/variables.scss';

// We only need to define the variables we need to overwrite 
$global-theme-color: var(--wp-admin-theme-color, #3858E9);
$global-theme-color-darker-10: var(--wp-components-color-accent-darker-10, var(--wp-admin-theme-color-darker-10, #006ba1));

$global-theme-gray-30: #8c8f94;

$field-height: 35px;
$field-width: 100%;
$field-border-color: $global-theme-gray-30;
$field-border: $field-border-width $field-border-style $field-border-color;
$field-border-radius: 2px;
$field-focus-color: $global-theme-color;
$field-font-size: 16px;

$label-font-size: 11px;
$label-font-weight: 500;
$label-text-transform: uppercase;

$description-font-size: 12px;
$description-font-color: $global-theme-gray-40;
$description-margin-top: $global-spacer-sm;

$button-border-color: $global-theme-color;
$button-border: $button-border-size $button-border-type $button-border-color;
$button-border-radius: 2px;
$button-color: $global-theme-color;
$button-padding: 6px 12px;
$button-height: 36px;

$button-border-color--hover: $global-theme-color-darker-10;
$button-color--hover: $global-theme-color-darker-10;

@import '../default/mixins.scss';

// We only need to defined the mixin we need to overwrite
@mixin field-focus {
  border-color: $field-focus-color;
  box-shadow: 0 0 0 1px $field-focus-color;
  outline: 2px solid transparent;
}

.tf-context-wp {
  @import '../../components/index.scss';
  @import './components/text-input.scss'; // wp context specific rules
}

@import '../../lib/prose-mirror/index.scss';
