.tf-gallery-preview {
  display: flex;
}

.tf-gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: $global-border-radius;
  }
}

.tf-gallery__controls {
  @include section;
  padding: $global-spacer-sm $global-spacer-md;
}

.tf-gallery-buttons{
  display: flex;
  gap: 10px;
}
