.tf-gallery-preview {
  display: flex;
}

.tf-gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.tf-gallery-buttons{
  display: flex;
  gap: 10px;
}