@mixin field {
  padding: $field-padding;
  height: $field-height;
  width: $field-width;
  box-sizing: border-box;
  border: $field-border;
  border-radius: $field-border-radius;
  background: $field-background;
  color: $field-font-color;
  font-size: $field-font-size;
  font-style: $field-font-style;
  font-weight: $field-font-weight;

  &::placeholder {
    color: $field-placeholder-color;
    font-size: $field-font-size;
    font-style: $field-font-style;
    font-weight: $field-font-weight;      
  }
}

@mixin field-focus {
  border-color: $field-focus-color;
}

@mixin label {
  color: $label-font-color;
  font-size: $label-font-size;
  font-style: $label-font-style;
  font-weight: $label-font-weight;
  text-transform: $label-text-transform;
  margin-bottom: $label-spacer;
}

@mixin description {
  color: $description-font-color;
  font-size: $description-font-size;
  font-style: $description-font-style;
  font-weight: $description-font-weight;
  margin-top: $description-margin-top;
  margin-bottom: $description-margin-bottom;
}

@mixin button {
  box-sizing: border-box;
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  height: $button-height;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  
  &:hover {
    background: $button-background--hover;
    border-color: $button-border-color--hover;
    color: $button-color--hover;
  }
}

@mixin button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
