// spacers
$global-spacer-xs: 4px;
$global-spacer-sm: 8px;

// colors
$global-theme-color: #4b84ce;
$global-theme-color-darker-10: #31609e;
$global-theme-color-lighter-05: #E2E7FF;

$global-theme-gray-30: #d3d3d3;
$global-theme-gray-40: #787c82;
$global-theme-gray-100: #101517;

$field-padding: 6px 12px;
$field-height: 32px;
$field-width: 192px;
$field-border-width: 1px;
$field-border-style: solid;
$field-border-color: $global-theme-gray-30;
$field-border: $field-border-width $field-border-style $field-border-color;
$field-border-radius: 4px;
$field-background: white;
$field-focus-color: $global-theme-color;
$field-font-size: inherit;
$field-font-style: inherit;
$field-font-weight: inherit;
$field-font-color: inherit;
$field-placeholder-color: initial;

$label-font-size: inherit;
$label-font-style: inherit;
$label-font-weight: inherit;
$label-font-color: inherit;
$label-text-transform: inherit;
$label-spacer: revert;

$description-font-size: inherit;
$description-font-style: inherit;
$description-font-weight: inherit;
$description-font-color: inherit;
$description-margin-top: revert;
$description-margin-bottom: revert;

$button-background: white;
$button-border-color: #d3d3d3;
$button-border-type: solid;
$button-border-size: 1px;
$button-border: $button-border-type $button-border-size $button-border-color;
$button-border-radius: 4px;
$button-color: #505050;
$button-padding: 0 12px;
$button-height: 32px;

$button-background--hover: white;
$button-border-color--hover: $global-theme-color-darker-10;
$button-color--hover: $global-theme-color-darker-10;

$popover-index: 900;
