.tf-repeater-block-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4px;
    
  border: $field-border;
  border-radius: $field-border-radius;
  background: $field-background;

  &[data-status=open] .tf-repeater-block-item-actions {
    border-top: $field-border;
  }
}

.tf-repeater-block-item-header{
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;

  height: $field-height;
  border-bottom: $field-border;

  strong {
    padding: $field-padding;    
  }
}

.tf-repeater-block-item-actions,
.tf-repeater-block-item-field {
  padding: $field-padding;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tf-repeater-block-item-actions {
  display: flex;
  justify-content: flex-end;
}

.tf-repeater-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.tf-repeater-arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.tf-repeater-arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.tf-repeater-group-buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 1%;
}
