@import './common/index.scss';
@import './layout/advanced/index.scss';
@import './layout/bare/index.scss';
@import './layout/block/index.scss';
@import './layout/tab/index.scss';
@import './layout/table/index.scss';

.tf-repeater-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--tui-spacing-xxs, 4px);
  padding-block: var(--tui-spacing-xxs, 4px);
}

.tf-repeater-title {
  @include label;
}
