@import './common/index.scss';
@import './layout/advanced/index.scss';
@import './layout/bare/index.scss';
@import './layout/block/index.scss';
@import './layout/tab/index.scss';
@import './layout/table/index.scss';

.tf-repeater-actions {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  padding-bottom: 4px;
  gap: $global-spacer-xs;

  .tf-button-action:last-child {
    color: $global-context-destructive;
    border-color: $global-context-destructive;
  }
}

.tf-repeater-title {
  @include label;
}

.tf-repeater-block-items {
  margin-top: $global-spacer-sm;
	margin-bottom: $global-spacer-sm;
}
