.tf-combo-box {
  display: flex;
  flex-direction: column;  
}

.tf-combo-box-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  @include field;
  padding: 0;
  
  .tf-popover {
    border: $field-border;
    border-bottom-left-radius: $field-border-radius;
    border-bottom-right-radius: $field-border-radius;
  }
  
	&:focus-within {
		@include field-focus;
    
    .tf-popover {
      border-color: $field-focus-color;
      box-shadow: 0 0 0 1px $field-focus-color;
      outline: 2px solid transparent;
    }
	}

  input {
    border: 0;
    box-shadow: none;
    
    &:focus {
      box-shadow: none;
    }
  }

  .tf-button-action {
    @include button;
    border: 0;
    background: none;
    max-height: calc(#{$field-height} - 2px);
  }

  .tf-popover {
		top: 100%;
    width: calc(fit-content + #{$field-border-width} * 2);
    left: (-$field-border-width);
	}

  .tf-button-action span {
    padding: 0 2px;
  }
}

ul[role="listbox"] {
  border: 0 !important;
	
  li[role="option"] {
    margin: 0;
    padding: 4px 8px;
    
    &:hover {
      background-color: $field-focus-color;
      color: #fff;
    }
  }
}

.tf-combo-box-item {
  border: 1px solid transparent; 
	background-color: $global-theme-color-lighter-05;
	color: $field-focus-color;
	border-radius: $field-border-radius;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4;
  padding: 0.25em 0.5em;
  display: inline-flex;
  gap: 0.35em;
  align-items: center;

  span:first-child {
    padding-right: 5px;
  }

  span:last-child {
    cursor: pointer;
  }
}

// Multiple variant

.tf-multiple-combobox-container {
  display: flex;
  gap: $global-spacer-sm;
  position: relative;
}

.tf-multiple-combobox > .tf-popover {
}
.tf-multiple-combobox {
  position: relative;
}
.tf-multiple-combobox-values {
  display: flex;
  align-items: center;
  padding: $field-padding;
  box-sizing: border-box;
  width: $field-width;
  background-color: $field-background;
  min-height: $field-height;
  border: $field-border;
  border-radius: $field-border-radius;
  flex-wrap: wrap;
  gap: $global-spacer-sm;
}

