.tf-combo-box {
  display: inline-flex;
  flex-direction: column;  
}

.tf-combo-box-text {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  input {
    @include field;
  }

  button {
    @include button;
  }

  .tf-popover {
    top: 100%;
  }

  .tf-button-action span {
    padding: 0 2px;
  }
  
}
