.tf-dynamic-text-input {
  width: unset;
  min-width: calc(#{$field-width} - #{$field-padding-horizontal * 2});
  height: 48px;

  & > .cm-editor{
    .cm-content{
      justify-content: start;
      padding-top: calc(#{$field-height} / 2);
    }
  } 

}
