.tf-dynamic-field-wrapper.tf-dynamic-wrapper {

  .tf-dynamic-value-input:disabled {
    border-color: rgba(black, 0.1);
    color: rgba(black, 0.4);
    background: rgba(white, 0.5)
  }

  .tf-dynamic-value-input {
    box-sizing: border-box;
  }

  .tf-button-icon.tf-dynamic-wrapper-clear::before {
    content: "⨯";
  }
}
