@import '../default/variables.scss';

// We only need to define the variables we need to overwrite 
$field-padding: 0 12px;

$field-border-color: #64666a;
$field-border: $field-border-width $field-border-style $field-border-color;
$field-background: #181b20;
$field-focus-color: $global-theme-color;

$button-background: #2c333a;
$button-border-color: #64666a;
$button-border: $button-border-type $button-border-size $button-border-color;
$button-color: white;

$popover-index: 900;

@import '../default/mixins.scss';

// We only need to defined the mixins we need to overwrite
@mixin label {
  color: $label-font-color;
  font-size: $label-font-size;
  font-style: $label-font-style;
  font-weight: $label-font-weight;
}

@mixin description {
  color: $description-font-color;
  font-size: $description-font-size;
  font-style: $description-font-style;
  font-weight: $description-font-weight;
}

@mixin button {
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  height: calc(#{$button-height} - #{$button-border-size *  2}); // Remove border
  cursor: pointer;
}
