// .tf-dialog-title {
//   font-size: 1.2em;
//   text-transform: capitalize;
//   position: relative;
//   color: rgb(60, 67, 74);
//   margin: 0.5em 0;
//   padding: 0 0.2em;  
// }

.tf-dialog .tf-title {
  display: flex;
  
  h4 {
    margin: 0;
    padding: 12px 0;
  }
}
