$field-padding: 0 12px;
$field-height: 32px;
$field-width: 192px;
$field-border-width: 1px;
$field-border-style: solid;
$field-border-color: #d3d3d3;
$field-border: $field-border-width $field-border-style $field-border-color;
$field-border-radius: 4px;
$field-background: white;
$field-focus-color: #4b84ce;
$field-font-size: inherit;
$field-font-style: inherit;
$field-font-weight: inherit;
$field-font-color: inherit;
$field-placeholder-color: inherit;

$label-font-size: inherit;
$label-font-style: inherit;
$label-font-weight: inherit;
$label-font-color: inherit;
$label-text-transform: inherit;
$label-spacer: revert;

$description-font-size: inherit;
$description-font-style: inherit;
$description-font-weight: inherit;
$description-font-color: inherit;
$description-margin-top: revert;
$description-margin-bottom: revert;

$button-background: white;
$button-border-color: #d3d3d3;
$button-border-type: solid;
$button-border-size: 1px;
$button-border: $button-border-type $button-border-size $button-border-color;
$button-border-radius: 4px;
$button-color: #505050;
$button-padding: 0 12px;
$button-height: 32px;

$popover-index: 900;

@mixin field {
  padding: $field-padding;
  height: $field-height;
  width: $field-width;
  border: $field-border;
  border-radius: $field-border-radius;
  background: $field-background;

  color: $field-font-color;
  font-size: $field-font-size;
  font-style: $field-font-style;
  font-weight: $field-font-weight;

  &::placeholder {
    color: $field-placeholder-color;
    font-size: $field-font-size;
    font-style: $field-font-style;
    font-weight: $field-font-weight;      
  }
}

@mixin label {
  color: $label-font-color;
  font-size: $label-font-size;
  font-style: $label-font-style;
  font-weight: $label-font-weight;
  text-transform: $label-text-transform;
  margin-bottom: $label-spacer;
}

@mixin description {
  color: $description-font-color;
  font-size: $description-font-size;
  font-style: $description-font-style;
  font-weight: $description-font-weight;
  margin-top: $description-margin-top;
  margin-bottom: $description-margin-bottom;
}

@mixin button {
  box-sizing: border-box;
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  height: $button-height; // Remove border
  cursor: pointer;
}

@mixin button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

@import './components/base/index.scss';
@import './components/field/index.scss';
@import './components/repeater/index.scss';
