$field-padding: 6px 8px;
$field-height: 35px;
$field-width: 100%;
$field-border-width: 1px;
$field-border-style: solid;
$field-border-color: #949494;
$field-border: $field-border-width $field-border-style $field-border-color;
$field-border-radius: 2px;
$field-background: #fff;
$field-focus-color: var(--wp-admin-theme-color, #007cba);
$field-font-size: 16px;
$field-font-style: inherit;
$field-font-weight: inherit;
$field-font-color: #1e1e1e;
$field-placeholder-color: inherit;

$label-font-size: 11px;
$label-font-style: inherit;
$label-font-weight: 500;
$label-font-color: #1e1e1e;
$label-text-transform: uppercase;
$label-spacer: 8px;

$description-font-size: 12px;
$description-font-style: inherit;
$description-font-weight: inherit;
$description-font-color: #757575;
$description-margin-top: 8px;
$description-margin-bottom: revert;

$button-background: white;
$button-border-color: transparent;
$button-border-type: solid;
$button-border-size: 1px;
$button-border: $button-border-size $button-border-type $button-border-color;
$button-border-radius: 2px;
$button-color: var(--wp-components-color-foreground, #1e1e1e);
$button-padding: 6px 12px;
$button-height: 36px;

$popover-index: 900;

@mixin field {
  padding: $field-padding;
  height: $field-height;
  width: $field-width;
  border: $field-border;
  border-radius: $field-border-radius;
  background: $field-background;

  color: $field-font-color;
  font-size: $field-font-size;
  font-style: $field-font-style;
  font-weight: $field-font-weight;

  &::placeholder {
    color: $field-placeholder-color;
    font-size: $field-font-size;
    font-style: $field-font-style;
    font-weight: $field-font-weight;      
  }
}

@mixin label {
  color: $label-font-color;
  font-size: $label-font-size;
  font-style: $label-font-style;
  font-weight: $label-font-weight;  
	text-transform: $label-text-transform;
  margin-bottom: $label-spacer;
}

@mixin description {
  color: $description-font-color;
  font-size: $description-font-size;
  font-style: $description-font-style;
  font-weight: $description-font-weight;
  margin-top: $description-margin-top;
  margin-bottom: $description-margin-bottom;
}

@mixin button {
  box-sizing: border-box;
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  height: $button-height;
  cursor: pointer;
}

@mixin button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

@import './components/base/index.scss';
@import './components/field/index.scss';
@import './components/repeater/index.scss';
