.tf-accordion-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4px;
    padding-left: 1%;
    padding-right: 1%;
      
    border: $field-border;
    border-radius: $field-border-radius;
    background: $field-background;
  
    // &[data-status=open] .tf-repeater-block-item-actions {
    //   border-top: $field-border;
    // }
}

.tf-accordion-header {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  
    height: $field-height;
    border-bottom: $field-border;
  
    strong {
      padding: $field-padding;    
    }
}

.tf-accordion-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.tf-accordion-arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.tf-accordion-arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.tf-accordion-group-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1%;
}
